@* ReSharper disable Mvc.PartialViewNotResolved *@
<!doctype html>
<html lang="en">

<head>

    @Html.Partial("_head")
</head>

<body>
@Html.Partial("_nav")
@RenderBody()
@Html.Partial("_footer")
</body>

</html>