;;;
"title": "Download Rigs of Rods"
;;;

<script>
  var useros = navigator.appVersion;
  var suported_os = ["Win", "Mac", "Linux"];
  var goto = "//<%= config[:download_host] %>/index.html#NoRedirect";
  var d = window.location.hash.substring(1);

  suported_os.forEach(function (os) {
    if (useros.indexOf(os) !== -1) {
      goto = "//<%= config[:download_host] %>/" + os + ".html";
    }
  })

  if (d.length === 0 || d !== "NoRedirect") {
    self.location = goto;
  }
</script>

<style>
  body {
    background: url("//<%= config[:host] %>/images/screenshots/ror-screenshot4_blur.jpg");
    background-size: cover;
    background-attachment: fixed;
  }

  h1,
  h2,
  h3,
  h4 {
    color: #ee7700;
  }
</style>

<div class="grid-container content-div">
  <h1 id="download">Download</h1>

  <table style="margin-top: 2em">
    <thead>
      <tr>
        <th class="center ror-color">
          <h2>Step 1</h2>
        </th>
        <th class="center ror-color">
          <h2>Step 2</h2>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="center">
          Download an install the
          <span data-tooltip="data-tooltip" aria-haspopup="true" class="has-tip" data-disable-hover='false' tabindex="1" title="itch.io is a simple way to find and share indie games online for free.">
            itch.io desktop app
          </span>
          <br>
          <br>
          <a href="https://itch.io/app" class="show-for-medium large button">
            Download the itch.io desktop app
          </a>
          <a href="https://itch.io/app" class="show-for-small-only expanded button">
            Download the itch.io desktop app
          </a>
        </td>
        <td class="center">
          Click the button below to install RoR using the itch.io desktop app
          <br>
          <br>
          <a href="itchio://install/351397" class="show-for-medium large button">
            Install RoR
          </a>
          <a href="itchio://install/351397" class="show-for-small-only expanded button">
            Install RoR
          </a>
        </td>
      </tr>
    </tbody>
  </table>

  <h2 id="overview-readme-faq">Overview / Readme / FAQ</h2>
  <p>
    Many questions are answered in the documentation, have a look around:
    <a href="http://docs.rigsofrods.org/">Documentation index</a>
  </p>

  <h2 id="license">License</h2>
  <p>
    Rigs of Rods is free and open source software under the GPL v3 license, meaning it is both free as in speech (you can modify it) and free as in beer (it does not cost you anything).
  </p>

  <h2 id="legacy">Legacy</h2>
  <p>
    If you are interested in Rigs of Rods' history check out the museum
    <a href="http://sourceforge.net/projects/rigsofrods/files/rigsofrods/museum/">here</a>
  </p>
</div>
