<% current_page.data.title = "Download Rigs of Rods V0.4.7.0 for Linux" %>

<style>
  body {
    background: url(//<%= config[:host] %>/images/screenshots/ror-screenshot4_blur.jpg);
    background-size: cover;
    background-attachment: fixed;
    overflow: hidden;
    display: flex;
    flex-flow: column;
    height: 100%
  }

  html,
  body {
    height: 100%;
    margin: 0
  }
</style>


<div class="row content-div">
  <div style="padding:3em; text-align: center;">
    <h2>Latest release: V0.4.8.0 for Debian, Ubuntu and Mint</h2>
    <hr>
    <p>
      For Linux, we have created build scripts to simplify the installation on Linux. <br>
      Read the <a href="https://github.com/RigsOfRods/ror-linux-buildscripts/blob/master/README.md">README.md</a> for
      detailed instructions.
      <br>
      <br>
      <a href="https://github.com/RigsOfRods/ror-linux-buildscripts/archive/master.zip" class="show-for-medium large button"><span class="fa fa-download"/>
        Download</a>
      <a href="https://github.com/RigsOfRods/ror-linux-buildscripts/archive/master.zip" class="show-for-small-only expanded button"><span class="fa fa-download"/>
        Download</a>
      <br>
    </p>
    <small>Not the correct version or wrong OS?
      <a href="//<%= config[:download_host] %>/index.html#NoRedirect">See all versions</a></small>
  </div>
</div>
