<% current_page.data.title = "Download Rigs of Rods V0.37-beta for Mac" %>

<style>
  body {
    background: url("//<%= config[:host] %>/images/screenshots/ror-screenshot4_blur.jpg");
    background-size: cover;
    background-attachment: fixed;
    overflow: hidden;
    display: flex;
    flex-flow: column;
    height: 100%;
  }

  body,
  html {
    height: 100%;
    margin: 0;
  }
</style>

<div class="row content-div">
  <div style="padding:3em; text-align: center;">
    <h2>Latest release: V0.37-beta for Mac</h2>
    <hr>
    <p>Unfortunately, due to lack of OS X coders, there is no up to date build of the latest version available. <br>
      The latest working version for Mac is 0.37-beta. You can download it
      <a href="http://downloads.sourceforge.net/project/rigs-of-rods/Releases/RoR-Mac-0.37-beta.zip">here</a>
    </p>
    <p>If you want to build from source see
      <a href="https://github.com/RigsOfRods/rigs-of-rods/wiki/Compile-(OS-X)">Compiling on OS X</a>
    </p>

    <br>
    <small>Not the correct version or wrong OS?
      <a href="//<%= config[:download_host] %>/index.html#NoRedirect">See all versions</a>
    </small>
  </div>
</div>
